@import "tailwindcss";

* {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
  scroll-behavior: smooth;
}
.bg-primary{
  background-color: #4548b9;
}



.css-hero-background-left-img_black {
  background: url('../src/assets//HeroImage.png');
  background-size: contain;
  background-position: bottom center;
  background-repeat: no-repeat;
}